@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./layout/generallayout";
@import "./pages/inicio.scss";
@import "./pages/comienzo.scss";
@import "./pages/contacto.scss";
@import "./pages/cuidado.scss";
@import "./pages/listado.scss";
 
// MEDIAQUERIES
@media (max-width: 1440px) {
    html{
        font-size: 14px;
    }
    .primerapagina .tituloinicio{
        font-size: 12rem;
    }
	.listado .contenedor .card{
		margin-left: 0;
		margin-right: 0;
		border-radius: 0;
		.botondiscos{
			border-radius: 0;
		}
	}
}
@media (max-width: 1024px) {
	html{
		font-size: 12px;
	}
	
	.primerapagina {
		.tituloinicio{
			font-size: 10rem;
		}
	}
	.primerapagina .parteinferiorinicio1{
		width: 100vw;
	}
	.titulo{
		font-size: 5rem;
	}
}
@media (max-width: 768px) {
	html{
		font-size: 10px;
	}
    .primerapagina {
		.tituloinicio {
			font-size: 7.5rem;
		}
		.parteinferiorinicio1{
			grid-template-columns:0;
			grid-template-rows: 50% 50%;
			justify-content: center;
			.cajatextoinicio{
				width: 90vw;
				font-size: 1.5rem;
			}
		}
		.parteinferiorinicio1 .imginferiorinicio{
				width: 14rem;
				height: 14rem;
			}
	}
}

@media (max-width: 425px) {
	html{
		font-size: 8px;
	}
	.primerapagina .tituloinicio{
		height: 40vh;
		font-size: 8.5rem;
	}
	.primerapagina .parteinferiorinicio1 {
		height: 100vh;
        width: 100vw;
		grid-template-columns: 0;
		grid-template-rows: 50% 50%;
		flex-direction: column;
		.imginferiorinicio{
			width: 30rem;
    		height: 30rem;
			border-radius: 15rem;
		}
	}

	.primerapagina .parteinferiorinicio1 .cajatextoinicio {
            text-align: justify;
            width: 100vw;
            margin-left: 0;
			font-size: 2rem;
        }
	.videos{
		width: 100vw;
	}
	.listado .contenedor .card{
		flex-direction: row;
		align-items: center;
		width: 100vw;
		.infodisco{
			width: 70vw;
		}
		.imagendisco{
			width: 40rem;
			height: 26rem;
		}
	}
	.contacto{
		flex-direction: column;
	}
}
@media (max-width: 375px){
	html{
		font-size: 6px;
	}
	.primerapagina .parteinferiorinicio1 {
		.cajatextoinicio{
			font-size: 2.4rem;
		}
		.imginferiorinicio{
			width: 40rem;
			height: 40rem;
			border-radius: 20rem;
		}
	}
}
@media (max-width: 320px) {
	html{
		font-size: 4px;
	}
	.primerapagina {
		.parteinferiorinicio1{
			height: 70vh;
		}	
		.tituloinicio {
			font-size: 10rem;
			height: 30vh;
		}
	}
	}
 