
.comienzo {
	display: grid;
	grid-template-rows: 5% 20% 20% 40% 20%;
	justify-content: center;
	align-items: center;

    .textohorizontal {
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 5vw;
        margin-top: 5vh;
        padding: 1rem;
        font-family: $font-family_2;
        font-size: 1.25rem;
        color: $color_3;
        text-align: justify;
        background-color: $background-color_3;
    }
    .videos {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
    }
}