.titulos {
    height: 20vh;
    width: 80vw;
    margin-top: 5rem;
    margin-left: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-family: $font-family_1;
    border-color: $border-color_1;
    color: $titulos;
    text-align: center;
    font-size: 4rem;
}
.tabla {
	width: 50vw;
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 1rem;
	margin-left: 20rem;
    .discos {
        transition: transform .2s;
        &:hover {
            transform: scale(1.5);
        }
    }
}